[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "soundcorrs"]
	path = soundcorrs
	url = https://github.com/cran/soundcorrs
	shallow = true
	registered = true
